@import '../../styles/main.scss';

.brewery {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e6eaee;
  display: flex;
  flex-direction: column;
  font-family: $font-primary;
  margin: 15px;
  position: relative;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    min-height: 82px;
    padding: 16px 20px;
  }

  &__arrow-down {
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 30px;
    top: 30px;
    transition: transform .2s ease;

    &--normal {
      transform: rotate(0deg);
    }

    &--rotated {
      transform: rotate(180deg);
    }

    @include desktop {
      display: none;
    }
  }

  &__city {
    font-size: 14.5px;
  }

  &__details-box {
    padding: 15px 25px;
    text-align: left;
    background-color: #f5f8fa;
    border: 1px solid #e6eaee;
    border-left: none;
    border-right: none;
    display: block;
    min-height: 36px;
    margin-top: 8px;

    @include desktop {
      display: none;
    }
  }

  &__details-text {
    font-size: 14px;
    font-weight: 600;
  }

  &__information {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    min-width: 600px;
    padding: 10px 25px;

    &--expanded {
      display: flex;
    }

    @include tablet {
      align-items: center;
      flex-direction: row;

      &--expanded {
        display: flex;
      }
    }

    @include desktop {
      display: flex;
      padding: 0;
    }
  }

  &__information-box {
    margin-bottom: 8px;
    text-align: left;

    @include desktop {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--address {
      min-width: 200px;
    }

    &--opening {
      min-width: 250px;
    }

    &--postcode {
      max-width: 100px;
    }
  }

  &__logo {
    border-radius: 50%;
    height: 50px;
    margin-right: 25px;
    width: 50px;
  }

  &__name {
    margin-bottom: 3px;
    max-width: 130px;

    @include tablet {
      max-width: 180px;
    }
  }

  &__name,
  &__address,
  &__postcode,
  &__opening {
    color: #354052;
    font-size: 15px;
    font-weight: 600;
  }

  &__opening {
    display: inline;
  }

  &__profile {
    align-items: center;
    display: flex;
    padding: 15px;

    @include desktop {
      padding: 0;
      justify-content: space-between;
      margin: 0;
    }
  }

  &__profile-box {
    text-align: left;
  }

  &__address-title,
  &__postcode-title,
  &__opening-title {
    color: #7f8fa4;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 3px;
  }
}
