@import '../../styles/main.scss';

.brewery {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e6eaee;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: $font-primary;
  position: relative;

  @include tablet {
    margin: 15px auto;
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    min-height: 82px;
    padding: 16px 0;
  }

  &__arrow-down {
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 30px;
    top: 30px;
    transition: transform .2s ease;

    &--normal {
      transform: rotate(0deg);
    }

    &--rotated {
      transform: rotate(180deg);
    }

    @include desktop {
      display: none;
    }
  }

  &__beer {  
    margin-bottom: 4px;
    margin-right: 4px;

    @include tablet {
      display: inline-block;
    }

    @include desktop {
      display: block;
    }
  }

  &__beer-info {
    font-weight: 400;
  }

  &__city {
    font-size: 14.5px;
  }
  
  &__details-box {
    background-color: #f5f8fa;
    border-left: none;
    border-right: none;
    border: 1px solid #e6eaee;
    margin-top: 8px;
    min-height: 36px;
    padding: 15px 25px;
    text-align: left;

    @include desktop {
      display: none;
    }
  }

  &__beers-box {
    background-color: #f5f8fa;
    border-left: none;
    border-right: none;
    border: 1px solid #e6eaee;
    display: none;
    margin-top: 15px;
    min-height: 36px;
    padding: 15px 25px;
    text-align: left;
    width: 100%;

    &--expanded {
      display: block;
    }

    @include desktop {
      display: block;
    }
  }

  &__beers-text,
  &__details-text {
    font-size: 14px;
    font-weight: 600;
  }

  &__information {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 25px 0;

    &--expanded {
      display: flex;
    }

    @include tablet {
      align-items: center;
      flex-direction: row;

      &--expanded {
        display: flex;
      }
    }

    @include desktop {
      display: flex;
      padding: 0;
    }
  }

  &__information-box {
    margin-bottom: 8px;
    text-align: left;

    @include desktop {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--address {
      min-width: 200px;
    }

    &--beer {
      order: 2;

      @include desktop {
        padding: 15px 25px 0;
      }
    }

    &--opening {
      min-width: 250px;
    }

    &--postcode {
      max-width: 100px;
    }
  }

  &__logo {
    border-radius: 50%;
    height: 50px;
    margin: 0 10px;
    width: 50px;
  }

  &__name {
    margin-bottom: 3px;
    max-width: 130px;

    @include tablet {
      max-width: 250px;
    }
  }

  &__address,
  &__beer,
  &__name,
  &__opening, 
  &__postcode {
    color: #354052;
    font-size: 15px;
    font-weight: 600;
  }

  &__opening {
    display: inline;
  }

  &__profile {
    align-items: center;
    display: flex;
    padding: 15px 0;

    @include desktop {
      padding: 0;
      justify-content: space-between;
      margin: 0;
    }
  }

  &__profile-box {
    text-align: left;
  }

  &__address-title,
  &__beer-name-title,
  &__postcode-title,
  &__opening-title {
    color: #7f8fa4;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 3px;
  }
}
